{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row" style="">

    <!-- Menu -->
    <div class="side-menu">

    <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <div class="brand-wrapper">
            <!-- Hamburger -->
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Brand -->
            <div class="brand-name-wrapper">
                <ul class="nav navbar-nav">
                    <li style="padding:10px 55px 80px;">
                        <a class="navbar-brand" href="/">
                        <img alt="Brand" src="{% static 'img/logo.png' %}" style="width:125px;"></a>
                    </li>
                    <li style="padding-left:10px;">
                        <a class="navbar-brand" href="#">
                        <h4>Firstname Lastname</h4>
                        <h5>first_name@gmail.com</h5>
                </a>
                    </li>
                </ul>


            </div>

        </div>

    </div>

    <!-- Main Menu -->
    <div class="side-menu-container">
        <ul class="nav navbar-nav">
            <!--<a href="#comments" class="scroll">Scroll to comments</a>-->
            <li><a href="#"><span class="glyphicon glyphicon-send"></span> Dashboard</a></li>
            <li><a href="#orders" class="scroll"><span class="glyphicon glyphicon-cloud"></span> My Orders</a></li>
            <li><a href="#messages"><span><i class="fa fa-envelope" aria-hidden="true"></i></span> Messages</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-cloud"></span> Profiles</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

    </div>

    <!-- Main Content -->
<div class="">


<div class="side-body">
     <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-default" style="background-color:#98ce4d;">
              <div class="container-fluid">
                  <ul class="nav navbar-nav">
                      <li class="active"><a href="#"><b>MyHotels</b> <span class="sr-only">(current)</span></a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                     <li style="padding-top:25px;">
                        <select class="selectpicker" data-width="fit">
                        <option data-content='<span class=""></span> English'>English</option>
                        <option  data-content='<span class=""></span> French'>French</option>
                        </select>
                    </li>
                     <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          Login <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Settings</a></li>
                      </ul>
                    </li>

                  </ul>


              </div>
            </nav>
        </div>
            <div class="col-sm-8">
            <div class="panel panel-primary">
                <h4 class="text-center">Menu</h4>
                <table class="table table-boardered">
    			<thead>
    				<tr>
                        <th></th>
    					<th>Date</th>
    					<th>Order</th>
    					<th>Total</th>
    					<th>Status</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
                        <td><i class="fa fa-cutlery" aria-hidden="true"></i>
                        </td>
    					<td>Date</td>
    					<td>Order</td>
    					<td>Total</td>
    					<td>Status</td>
    				</tr>
                    <tr>
                        <td><i class="fa fa-cutlery" aria-hidden="true"></i>
                        </td>
    					<td>Date</td>
    					<td>Order</td>
    					<td>Total</td>
    					<td>Status</td>
    				</tr>
                    <tr>
                        <td><i class="fa fa-cutlery" aria-hidden="true"></i>
                        </td>
    					<td>Date</td>
    					<td>Order</td>
    					<td>Total</td>
    					<td>Status</td>
    				</tr>


    			</tbody>
    		</table>
            </div>

            <div class="panel panel-primary" id="orders">
                <h4 class="text-center">Order History</h4>
                <table class="table table-boardered">
    			<thead>
    				<tr>
                        <th></th>
    					<th>Date</th>
    					<th>Order</th>
    					<th>Total</th>
    					<th>Status</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
                        <td><i class="fa fa-cutlery" aria-hidden="true"></i>
                        </td>
    					<td>Date</td>
    					<td>Order</td>
    					<td>Total</td>
    					<td>Status</td>
    				</tr>
                    <tr>
                        <td><i class="fa fa-cutlery" aria-hidden="true"></i>
                        </td>
    					<td>Date</td>
    					<td>Order</td>
    					<td>Total</td>
    					<td>Status</td>
    				</tr>
                    <tr>
                        <td><i class="fa fa-cutlery" aria-hidden="true"></i>
                        </td>
    					<td>Date</td>
    					<td>Order</td>
    					<td>Total</td>
    					<td>Status</td>
    				</tr>


    			</tbody>
    		</table>
            </div>

            <div class="panel panel-primary" id="messages">
                <h4 class="text-center">Messages</h4>
            <table class="table table-boardered">
    			<thead>
    				<tr>
                        <th></th>
    					<th>Subject</th>
    					<th>Date</th>

    				</tr>
    			</thead>
    			<tbody>
    				<tr>
                        <td><i class="fa fa-envelope" aria-hidden="true"></i>
                        </td>
    					<td>New material arrived</td>
    					<td>14 Dec 2017</td>

    				</tr>
                   <tr>
                        <td><i class="fa fa-envelope" aria-hidden="true"></i>
                        </td>
    					<td>New material arrived</td>
    					<td>14 Dec 2017</td>

    				</tr>


    			</tbody>
    		</table>
            </div>
            <h3 class="btn btn-block btn-primary">EDIT ORDER</h3>
            <form>

            <p>Edit your Order Here</p>
			<div class="form-group">
			<input id="order" name="name" type="text" class="form-control" required>

             <input id="content" name="name" type="text" class="form-control" required>

            </div>
                <input type="submit" class="btn btn-warning" value="Edit Order">

            </form>
            <h3 class="btn btn-block btn-primary">INFORMATION REQUEST</h3>
            <form>

            <p>Edit your Order Here</p>
			<div class="form-group">
			<input id="info" name="name" type="text" class="form-control" required>

             <input id="request" name="name" type="text" class="form-control" required>

            </div>
                <input type="submit" class="btn btn-success" value="Request Information">

            </form>
            <br/><hr/>
            <div class="container">
                <div class="row">
                    <h5 class="">All rights reserved</h5>
                </div>
            </div>


        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <h4 class="text-center">Next Order</h4>
                    <table class="table table-boardered">
                        <thead>
                            <tr>
                                <th>Menu</th>
                                <th>items</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>New material arrived</td>
                                <td>14 Dec 2017</td>

                            </tr>
                           <tr>

                                <td>New material arrived</td>
                                <td>14 Dec 2017</td>

                            </tr>


                        </tbody>
                    </table>
            </div>
                <div class="panel panel-primary">
                <h4 class="text-center">Product</h4>
                <div class="panel-body">
                    <p class="text-center">5 Meals</p>
                </div>
                </div>
                <div class="panel panel-primary">
                <h4 class="text-center">Adding Product</h4>
                <div class="panel-body">
                    <p class="text-center">Basket of Fruits - 3Kg</p>
                </div>
                </div>
                <div class="panel panel-primary">
                <h4 class="text-center">Location Picking</h4>
                <div class="panel-body">
                    <p class="text-center">Boston</p>
                </div>
                </div>
                <div class="panel panel-primary">
                <h4 class="text-center">Day of Picking</h4>
                <div class="panel-body">
                    <p class="text-center">Monday</p>
                </div>
                </div>


            </div>
        </div>
    </div>
        </div>
    </div>
</div>


{% endblock %}